.section-get-consult {
  .speciality-list {
    @media screen and(min-width: $mobile) {
      border: 2px solid white;
      .speciality-item {
        width: 100%;
        height: 342px;
        padding-top: 30px;
        border-bottom: 2px solid white;
        .item-title {
          @include standartTitle(24px, 120%);
          text-align: center;
          margin-bottom: 30px;
        }
        .speciality-diversity-list {
          li {
            margin-bottom: 15px;
            p {
              @include standartTitle(18px, 120%);
              &:before {
                content: "\2022";
                margin-right: 10px;
                padding-left: 15px;
              }
            }
          }
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
    @media screen and(min-width: $mobileMax) {
      .speciality-item {
        .speciality-diversity-list {
          padding-left: 60px;
        }
      }
    }
    @media screen and(min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      .speciality-item {
        width: 50%;
        .speciality-diversity-list {
          padding-left: 0;
        }
        &:nth-child(odd) {
          border-right: 2px solid white;
        }
        &:nth-child(3) {
          border-bottom: none;
        }
      }
    }
    @media screen and(min-width: $tabletMax) {
      .speciality-item {
        .speciality-diversity-list {
          padding-left: 50px;
        }
      }
    }
    @media screen and(min-width: $desktop) {
      .speciality-item {
        width: 25%;
        border-bottom: none;
        &:hover {
          background-color: black;
        }
        .item-title {
          margin-bottom: 20px;
          font-size: 32px;
        }
        .speciality-diversity-list {
          padding: 20px;
        }
        &:nth-child(2) {
          border-right: 2px solid white;
        }
      }
    }
    @media screen and(min-width: $fullHD) {
      .speciality-item {
        padding-bottom: 50px;
        padding-top: 50px;
        height: 475px;
        .item-title {
          font-size: 48px;
          margin-bottom: 50px;
        }
        .speciality-diversity-list li {
          padding-left: 30px;
          p {
            font-size: 24px;
          }
        }
      }
    }
  }
}
