.section-support-ua {
  a {
    display: flex;
    align-items: center;
  }
  .btn {
    @media screen and(min-width: $mobile) {
      @include standartBtnCircle(200px, 200px, transparent);
      p {
        width: 105px;
        font-family: "AbroSans-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        color: $accentRed;
      }
      &:hover {
        border: none;
        background-color: $accentRed;
        &:hover p {
          color: white;
        }
      }
    }
  }
}
