.section-support-ua {
  .description-container {
    @media screen and(min-width: $mobile) {
      margin-bottom: 30px;
      p {
        @include standartDescription(12px, 170%);
      }
    }
    @media screen and(min-width: $tablet) {
      p {
        font-size: 16px;
      }
    }
    @media screen and(min-width: $tabletMax) {
      p {
        padding-right: 70px;
        padding-left: 70px;
      }
    }
    @media screen and(min-width: $desktop) {
      width: 70%;
      p {
        padding-right: 0;
        padding-left: 0;
        font-size: min(18px, 2vh);
      }
    }
    @media screen and(min-width: $fullHD) {
      width: 1213px;
      p {
        font-size: 24px;
      }
    }
  }
}
