.section-support-ua {
  @media screen and(min-width: $mobile) {
    padding-bottom: 200px;
  }
  @media screen and(min-width: $desktop) {
    padding-top: 6vh;
    padding-bottom: 0;
    .container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }
  @media screen and(min-width: $fullHD) {
    padding-top: 60px;
  }
}
