.section-support-ua {
  .title-container {
    @media screen and(min-width: $mobile) {
      border-bottom: 2px solid #ffffff;
      margin-bottom: 30px;
      .title {
        @include standartTitle(36px, 120%);
      }
    }
    @media screen and(min-width: $desktop) {
      width: 100%;
      margin-bottom: 4vh;
      .title {
        font-size: min(60px, 7vh);
        @media screen and(min-height: 641px) {
          span {
            display: block;
          }
        }
      }
    }
    @media screen and(min-width: $fullHD) {
      margin-bottom: 50px;
      .title {
        font-size: 100px;
      }
    }
  }
}
