.section-prices {
  .title-container {
    @media screen and(min-width: $mobile) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      .title {
        @include standartTitle(24px, 1);
        text-transform: uppercase;
        color: #fff;
        &.is-active {
          color: $accentYellow;
          transition: 0.3s ease-out;
        }
      }
    }
    @media screen and(min-width: $mobileMax) {
      .title {
        padding-right: 40px;
        padding-left: 40px;
      }
    }
    @media screen and(min-width: $tablet) {
      justify-content: center;
    }
    @media screen and(min-width: $desktop) {
      align-items: center;
      margin-bottom: 4vh;
      .title {
        font-size: min(60px, 7vh);
      }
    }
    @media screen and(min-width: $fullHD) {
      margin-bottom: 0;
      justify-content: space-between;
      align-items: center;
      .title {
        font-size: 100px;
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}
