.footer {
  @media screen and(min-width: $mobile) {
    padding-bottom: 32px;
    a,
    p {
      width: fit-content;
      display: block;
      @include standartDescription(14px, 120%);
      margin-right: auto;
      margin-left: auto;
    }
    a {
      text-decoration: underline;
      margin-top: 25px;
      &:hover {
        color: $accentYellow;
      }
    }
  }
}
