.footer {
  @media screen and(min-width: $mobile) {
    padding-bottom: 32px;
    a,
    p {
      width: fit-content;
      display: block;
      @include standartDescription(14px, 120%);
      margin-right: auto;
      margin-left: auto;
    }
    a {
      text-decoration: underline;
      margin-top: 25px;
      &:hover {
        color: $accentYellow;
      }
    }
  }
  @media screen and(min-width: $mobile) {
    a,
    p {
      font-size: 16px;
    }
  }
  @media screen and(min-width: $desktop) {
    .container {
      position: absolute;
      bottom: 0;
      padding-bottom: 20px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    a {
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
    }
  }
}
