.section-step-by-step {
  .step-list-container {
    @media screen and(min-width: $mobile) {
      .step-list-title {
        @include standartTitle(24px, 120%);
        margin-bottom: 30px;
      }
      .step-list {
        .step-item {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 25px;
          &:last-child {
            margin-bottom: 0;
          }
          &:nth-child(3) {
            p:not(:first-child) {
              padding-left: 20px;
            }
          }
          .item-number-container {
            width: 38px;
            height: 38px;
            display: table-cell;
            vertical-align: middle;
            padding-top: 10px;
            background-image: url("../../../svg/number-wrapper.svg");
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 15px;
            p {
              @include standartTitle(24px, 1);
              text-align: center;
            }
          }
          .item-title {
            max-width: 128px;
            @include standartTitle(18px, 120%);
            margin-bottom: 20px;
          }
          .item-descr-container {
            min-width: 100%;
            p {
              @include standartDescription(12px, 170%);
            }
          }
        }
      }
    }
    @media screen and(min-width: $mobileMax) {
      .step-list {
        display: flex;
        flex-wrap: wrap;
        .step-item {
          width: 45%;
          margin-bottom: 50px;
          .item-title,
          .item-descr-container {
            width: fit-content;
            height: fit-content;
          }
          &:last-child {
            flex-wrap: wrap;
            .item-descr-container {
              display: block;
              height: 100%;
            }
          }
          &:nth-child(odd) {
            margin-right: 40px;
          }
          &:nth-child(3n) {
            margin-bottom: 0;
          }
        }
      }
    }
    @media screen and(min-width: $tablet) {
      .step-list {
        .step-item {
          .item-descr-container p {
            font-size: 16px;
          }
          &:nth-child(3) p:not(:first-child)::before {
            content: "\2022";
            font-weight: 700;
            margin-right: 10px;
          }
        }
      }
    }
    @media screen and(min-width: $desktop) {
      .step-list-title {
        @include standartTitle(32px, 120%);
        margin-bottom: 40px;
      }
      .step-list {
        .step-item {
          width: 23%;
          .item-title {
            width: 100%;
            height: 100.78px;
            font-size: 24px;
          }
          .item-descr-container {
            display: block;
            height: 100%;
            p {
              max-width: 92%;
              font-size: 18px;
            }
          }
          &:not(:last-child) {
            margin-right: 28px;
          }
          &:first-child .item-title {
            width: 150px;
          }
        }
      }
    }
    @media screen and(min-width: $fullHD) {
      .step-list-title {
        font-size: 36px;
        margin-bottom: 50px;
      }
      .step-list {
        justify-content: space-between;
        .step-item {
          width: 322px;
          &:not(:last-child) {
            margin-right: 0;
          }
          .item-number-container {
            width: 62px;
            height: 62px;
            p {
              padding-top: 5px;
              font-size: 44px;
            }
          }
          .item-title {
            max-width: 222px;
            font-size: 30px;
          }
          .item-descr-container p {
            max-width: 100%;
            font-size: 24px;
          }
        }
        .step-item:first-child .item-title {
          max-width: none;
          width: 70%;
        }
      }
    }
  }
}
