.section-step-by-step {
  .title-container {
    @media screen and(min-width: $mobile) {
      border-bottom: 2px solid #fff;
      margin-bottom: 30px;
      .title {
        @include standartTitle(36px, 120%);
        span {
          display: none;
        }
      }
    }
    @media screen and(min-width: $mobileMax) {
      .title span {
        display: inline;
      }
    }
    @media screen and(min-width: $desktop) {
      margin-bottom: 4vh;
      .title {
        font-size: min(60px, 7vh);
      }
    }
    @media screen and(min-width: $fullHD) {
      margin-bottom: 50px;
      .title {
        font-size: 100px;
      }
    }
  }
}
