.hero-section {
  @media screen and(min-width: $mobile) {
    padding-top: 30px;
    padding-bottom: 200px;
    .container {
      position: relative;
      isolation: isolate;
      &::after {
        content: "";
        position: absolute;
        width: 103.21px;
        height: 103.21px;
        top: -3px;
        right: 12px;
        z-index: -1;
        background: rgba(35, 241, 199, 0.7);
        filter: blur(50px);
        transform: rotate(10.69deg);
      }
      &::before {
        content: "";
        position: absolute;
        width: 114.56px;
        height: 302.39px;
        right: 12px;
        top: 50px;
        z-index: -1;
        background: rgba(227, 60, 17, 0.7);
        filter: blur(50px);
        transform: rotate(21.9deg);
      }
    }
  }
  @media screen and(min-width: $mobileMax) {
    .container {
      &::after,
      &::before {
        right: 112px;
      }
    }
  }
  @media screen and(min-width: $tablet) {
    padding-top: 70px;
    .container {
      &::after,
      &::before {
        right: 252px;
      }
    }
  }
}
