@font-face {
  font-family: "AbroSans-Bold";
  src: url("../fonts/AbroSans-Bold.ttf") format("truetype");
  font-weight: 700;
}
.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(15px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.toolbar-container {
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 1em;
}
.toolbar-container .logo-container {
  width: fit-content;
  display: flex;
  align-items: center;
}
.toolbar-container .close-modal-btn {
  background-color: transparent;
}
.modal-link-list .modal-link-item:not(:last-child) {
  margin-bottom: 40px;
}
.modal-link-list .modal-link-item .modal-link {
  font-family: "AbroSans-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 120%;
  color: #ffffff;
  transition: all 0.3s ease-out;
}
.modal-link-list .modal-link-item:hover .modal-link {
  color: #fbbf13;
  cursor: pointer;
}
.modal-link-list .modal-link-item .modal-link.red {
  color: #fb1515;
}
@media screen and (min-width: 768px) {
  .modal-link-list .modal-link-item .modal-link {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-content-container {
    position: absolute;
    width: 450px;
    min-height: 100%;
    right: 0;
    padding-top: 20px;
    padding-right: 20px;
    overflow-y: hidden;
    background-color: black;
  }
  .toolbar-container {
    width: 100%;
    margin-bottom: 4vh;
    padding-right: 0;
    justify-content: end;
  }
  .toolbar-container .logo-container {
    display: none;
  }
  .modal-link-list .modal-link-item:not(:last-child) {
    margin-bottom: 4vh;
  }
  .modal-link-list .modal-link-item .modal-link {
    display: block;
    font-size: min(34px, 4vh);
  }
  .modal-link-list .modal-link-item {
    width: fit-content;
    padding-right: 15px;
    margin-left: auto;
  }
}
