.section-customers-say {
  .feedback-list {
    @media screen and(min-width: $mobile) {
      .feedback-item {
        margin-bottom: 40px;
        .item-title {
          @include standartTitle(24px, 120%);
        }
        .description {
          @include standartDescription(12px, 170%);
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    @media screen and(min-width: $tablet) {
      .feedback-item {
        .description {
          @include standartDescription(16px, 170%);
        }
      }
    }
    @media screen and(min-width: $tablet) {
      .feedback-item {
        margin-bottom: 50px;
        .item-title {
          margin-bottom: 10px;
        }
        .description {
          max-width: 700px;
          padding-left: 120px;
        }
      }
    }
    @media screen and(min-width: $desktop) {
      display: flex;
      justify-content: space-between;
      .feedback-item {
        width: 30%;
        .item-title {
          font-size: 32px;
        }
        .description {
          font-size: 18px;
          padding-left: 0;
        }
      }
    }
    @media screen and(min-width: $fullHD) {
      .feedback-item {
        .item-title {
          font-size: 48px;
          margin-bottom: 30px;
        }
        .description {
          font-size: 24px;
        }
      }
    }
  }
}
