.section-customers-say {
  @media screen and(min-width: $mobile) {
    padding-bottom: 200px;
  }
  @media screen and(min-width: $desktop) {
    padding-bottom: 0;
    padding-top: 50px;
  }
  @media screen and(min-width: $fullHD) {
    padding-top: 60px;
  }
}
