.section-customers-say {
  .title-container {
    @media screen and(min-width: $mobile) {
      border-bottom: 2px solid #fff;
      margin-bottom: 30px;
      .title {
        @include standartTitle(36px, 120%);
        span {
          display: block;
        }
      }
    }
    @media screen and(min-width: $mobileMax) {
      .title span {
        display: inline;
      }
    }
    @media screen and(min-width: $tablet) {
      .title {
        width: 522px;
      }
    }
    @media screen and(min-width: $desktop) {
      margin-bottom: 40px;
      .title {
        width: 80%;
        font-size: 60px;
      }
    }
    @media screen and(min-width: $fullHD) {
      margin-bottom: 50px;
      .title {
        font-size: 100px;
      }
    }
  }
}
