*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: $blackContent;
  overflow-x: hidden;
}
ul[class],
ol[class] {
  padding: 0;
}
button,
a {
  border: none;
  padding: 0;
  margin: 0;
  &:hover {
    cursor: pointer;
  }
}

a {
  width: fit-content;
  display: block;
  text-decoration: none;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
button {
  margin: 0;
  padding: 0;
  color: #fff;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol,
li {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

section,
header,
footer {
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: "AbroSans-Bold";
  src: url("../../fonts/AbroSans-Bold.ttf") format("opentype");
}
@font-face {
  font-family: "AbroSans-Regular";
  src: url("../../fonts/AbroSans-Regular.ttf") format("opentype");
}

h1,
h2,
h3,
h4 {
  font-family: "AbroSans-Bold";
  &:hover {
    cursor: default;
  }
}
p {
  font-family: "AbroSans-Regular";
  &:hover {
    cursor: default;
  }
}
@media screen and(min-width: $desktop) {
  body {
    overflow-y: hidden;
  }
}
.wheel-container {
  min-height: 100%;
}
section {
  @media screen and(min-width: $desktop) {
    animation: section 0.3s ease-out;
  }
}
