.container {
  @media screen and (min-width: $mobile) {
    width: 345px;
  }
  @media screen and (min-width: $mobileMax) {
    width: 542px;
    padding-right: 15px;
    padding-left: 15px;
  }
  @media screen and (min-width: $tablet) {
    max-width: 748px;
  }
  @media screen and (min-width: $tablet) {
    width: 962px;
  }
  @media screen and (min-width: $desktop) {
    width: 1170px;
  }
  @media screen and (min-width: $fullHD) {
    width: 1920px;
  }
}
