.section-dedicated-staff {
  .btn-container {
    @media screen and(min-width: $mobile) {
      .btn {
        @include standartBtnCircle(200px, 200px, transparent);
        p {
          @include standartDescription(24px, 120%);
        }
      }
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      align-items: center;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
