.section-dedicated-staff {
  .title-container {
    @media screen and(min-width: $mobile) {
      border-bottom: 2px solid #fff;
      .title {
        @include standartTitle(36px, 120%);
      }
    }
    @media screen and(min-width: $desktop) {
      .title {
        font-size: min(60px, 7vh);
      }
    }
    @media screen and(min-width: $fullHD) {
      .title {
        font-size: 100px;
      }
    }
  }
}
