.section-contact-form {
  @media screen and(min-width: $mobile) {
    padding-bottom: 130px;
  }
  @media screen and(min-width: $desktop) {
    padding-top: 6vh;
    .flex-content-container {
      margin-top: 5vh;
      display: flex;
      justify-content: space-between;
    }
  }
  @media screen and(min-width: $fullHD) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
