.section-contact-form {
  @media screen and(min-width: $mobile) {
    padding-bottom: 130px;
  }
  @media screen and(min-width: $desktop) {
    padding-bottom: 6vh;
    padding-top: 6vh;
    .container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  @media screen and(min-width: $desktop) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
