.section-worthy-choise {
  .worthy-list {
    @media screen and(min-width: $mobile) {
      .worthy-item {
        margin-bottom: 25px;
        &:last-child {
          margin-bottom: 0;
        }
        .item-title {
          position: relative;
          width: fit-content;
          @include standartTitle(18px, 120%);
          margin-bottom: 10px;
          &::after {
            position: absolute;
            content: url("../../../svg/arrow.svg");
            width: 33.5px;
            height: 31px;
            display: inline;
            top: 0;
            right: -53.5px;
          }
        }
        .description-container {
          width: 50vw;
          p {
            @include standartDescription(12px, 170%);
          }
        }
        &:nth-child(1) {
          .item-title {
            width: 87px;
          }
          .description-container p {
            width: 236px;
          }
        }
        &:nth-child(2) {
          .item-title {
            width: 133px;
          }
          .description-container p {
            width: 219px;
          }
        }
        &:nth-child(3) {
          .item-title {
            width: 116px;
          }
          .description-container p {
            width: 219px;
          }
        }
        &:nth-child(4) {
          .item-title {
            width: 120px;
          }
          .description-container p {
            width: 210px;
          }
        }
        &:nth-child(5) {
          .item-title {
            width: 107px;
          }
          .description-container p {
            width: 160px;
          }
        }
      }
    }
    @media screen and(min-width: $mobileMax) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .worthy-item {
        width: 50%;
      }
    }
  }
}
