.header {
  .burger-menu-container {
    @media screen and(min-width: $mobile) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 19px;
      .burger-menu-btn {
        background-color: transparent;
        .burger-menu-svg * {
          transition: 0.3s ease-out;
        }
        &:hover .burger-menu-svg * {
          stroke: $accentYellow;
        }
      }
    }
    @media screen and(min-width: $tabletMax) {
      padding-right: 19px;
    }
  }
}
