.header {
  .get-consult-container {
    @media screen and(min-width: $mobile) {
      display: flex;
      align-items: center;
      padding-right: 12px;
      padding-left: 12px;
      border-right: 2px solid white;
      .get-consult-btn {
        @include standartBtn(157px, 26px, $accentYellow, none);
        p {
          font-size: 12px;
          line-height: 120%;
          font-weight: 700;
          color: $blackContent;
        }
      }
    }
  }
}
