.header {
  @media screen and(min-width: $mobile) {
    height: 50px;
    border-bottom: 2px solid white;
    .container {
      display: flex;
    }
  }
  @media screen and(min-width: $mobileMax) {
    .container {
      width: fit-content;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
