.header {
  @media screen and(min-width: $mobile) {
    height: 50px;
    border-bottom: 2px solid white;
    .container {
      display: flex;
    }
  }
  @media screen and(min-width: $mobileMax) {
    .container {
      width: fit-content;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  @media screen and(min-width: $tablet) {
    height: 70px;
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @media screen and(min-width: $tabletMax) {
    .container {
      width: 962px;
      padding-left: 0;
      padding-right: 0;
      justify-content: center;
    }
  }
  @media screen and(min-width: $desktop) {
    height: min(100px, 10vh);
    .container {
      width: 1170px;
    }
  }
  @media screen and(min-width: $fullHD) {
    height: 100px;
  }
}
