.header {
  .logo-container {
    @media screen and(min-width: $mobile) {
      height: inherit;
      display: flex;
      align-items: center;
      padding-right: 9px;
      border-right: 2px solid white;
      .logo {
        width: 97px;
        height: 23px;
        fill: white;
      }
    }
    @media screen and(min-width: $tabletMax) {
      padding-right: 19px;
      padding-left: 19px;
      .logo {
        width: 120px;
        height: 28px;
      }
    }
    @media screen and(min-width: $desktop) {
      padding-right: 20px;
      .logo {
        width: 168px;
        height: 40px;
      }
    }
    @media screen and(min-width: $fullHD) {
      border-right: none;
    }
  }
}
