.header {
  .social-link-list {
    @media screen and(min-width: $mobile) {
      display: none;
    }
    @media screen and(min-width: $tablet) {
      display: flex;
      border-right: 2px solid white;
      padding-left: 20px;
      padding-right: 20px;
      .social-link-item {
        margin-right: 20px;
        display: flex;
        align-items: center;
        a {
          display: block;
          svg {
            display: block;
            & * {
              transition: 0.3s ease-out;
            }
          }

          &:hover svg * {
            fill: $accentYellow;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
