.header {
  .support-ua-container {
    @media screen and(min-width: $mobile) {
      display: none;
    }
    @media screen and(min-width: $desktop) {
      display: flex;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;
      border-right: 2px solid white;
      .support-ua-btn {
        @include standartBtnSquare(240px, 42px, $accentRed);
        p {
          font-size: 18px;
        }
        &:hover p {
          color: white;
          cursor: pointer;
        }
      }
    }
    @media screen and(min-width: $fullHD) {
      border-right: none;
    }
  }
}
